.fixed-size-image {
    max-width: 425px;
    height: auto;
    max-height: 500px;
}

.image-map-container {
    position: relative;
   /* / max-width: calc(100%  425px);  */
    max-height: 500px; 
    overflow: hidden;
}

.slds-size_3-of-9 {
    position: relative;
    max-width: 425px;
    height: 100%;
    overflow-y: auto;
}

.search-result-item {
    padding: 8px;
    border: 1px solid #ccc;
    margin-bottom: 8px;
    cursor: pointer;
}

.search-result-item:hover {
    background-color: #f1f1f1;
}

.clickable-area {
    cursor: pointer;
    position: absolute;
    background-color: rgba(0, 255, 0, 0.2);
}

.number {
    color: red;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 50%;
    text-align: center;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
}

.item-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.item-mrp, .item-quantity, .item-total {
    margin-bottom: 5px;
}

.lightning-button {
    margin-right: 5px;
}

.quantity-buttons .tiny-button {
    padding: 1px 1px;
    font-size: 10px;  
    line-height: 1.2;
    margin: 0 1px;    
}

.small-add-button .slds-button {
    padding: 1px 4px;  
    font-size: 8px;  
    line-height: 1.2;  
}